In [1]:
x = [2,3,4,9,8]

In [2]:
x

[2, 3, 4, 9, 8]

In [5]:
for value in x:
    print (value)

2
3
4
9
8

In [6]:
print('ahmad')

ahmad

In [9]:
x= 'ahmad'
for value in x:
 print(value)

a
h
m
a
d

In [10]:
x = [2,3,4,9,8]
for value in x:
 print(value*2)

4
6
8
18
16

In [17]:
# How we can find even and odd number
x = [2,3,4,9,8]
for value in x:
    if value %2==0:
     print(value,end=" ")

2 4 8

In [18]:
# % ----> modulus operater---> it returns the remainder

In [21]:
# enummerate used to returned elements with index numbers
lst = [2,8,7,9,3,9]
list(enumerate(lst))

[(0, 2), (1, 8), (2, 7), (3, 9), (4, 3), (5, 9)]

In [36]:
for index, value in enumerate(lst):
    print(index, value)

0 2
1 8
2 7
3 9
4 3
5 9

In [37]:
value = list(enumerate(lst))

In [38]:
value

[(0, 2), (1, 8), (2, 7), (3, 9), (4, 3), (5, 9)]

In [39]:
value[3]

(3, 9)

In [40]:
index , value =value[3]

In [41]:
index

3

In [42]:
value

9

In [56]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [64]:
for i in range(1,12):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9 10

In [65]:
price = {
    'mobile': 40000,
    'laptop':39000,
    'powe_bank': 4000
    }

In [66]:
print(price)

{'mobile': 40000, 'laptop': 39000, 'powe_bank': 4000}

In [67]:
price.keys()

dict_keys(['mobile', 'laptop', 'powe_bank'])

In [68]:
price.values()

dict_values([40000, 39000, 4000])

In [70]:
list(price.keys())

['mobile', 'laptop', 'powe_bank']

In [71]:
key =list(price.keys())

In [72]:
key[0]

'mobile'

In [73]:
key[1]

'laptop'

In [74]:
for key in key:
    print(key)

mobile
laptop
powe_bank